* {
    font-family: "Book Antiqua", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 135%;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
}
body {
    margin-top: 20px;
    background: url("../img/main.jpg");
    background-size: cover;
}
td {
    overflow: auto;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
.tooltip-inner {
    font-size: 14px;
    min-width: 100px;
    max-width: 100%;
}