* {
    font-family: "Book Antiqua", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 135%;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
}
body {
    background: url("../img/main.jpg");
    background-size: cover;
}
.forgоt-content {
    width: 300px;
    margin: 0 auto;
}
.input-group {
    margin-bottom: 10px;
}
.alert {
    margin-top: 50px;
}
.alert-success {
    display: none;
}
.alert-danger {
    display: none;
}