.forgоt-content {
    width: 300px;
    margin: 0 auto;
}
.input-group {
    margin-bottom: 10px;
}
.alert {
    margin-top: 50px;
}
.alert-success {
    display: none;
}
.alert-danger {
    display: none;
}